.streamList-container {
  background-color: rgb(250, 250, 250);
}

.streamList-items{
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

@media only screen and (max-width: 1300px) {
  .streamList-items {
    width: 85%;

  }
}

.streamList-items-container{
  flex: 1;
  margin-top: 1rem;
}

.streamList-title{
  font-size: 2rem;
}

.streamList-heading{
  display: flex;
  justify-content: center;
}

.streamList-divider{
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .streamList-title{
    font-size: 1.4rem;
  }
  .streamList-buttons {
    display: flex;
    flex-direction: column;
  }
}
